
/* I fixed the issues with the nav bar being off center*/
/* From now on use rem units for everything in this file that is proportion heavy */

.side-nav {
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
    white-space: nowrap;
}

.side-nav .nav-button-container {
    position: relative;

    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button, .nav-button-active {

    width: 20rem;
    height: auto;

}



.side-nav .nav-button {
    position: absolute;

    transform: translateX(-20%);
    filter: contrast(0) brightness(0.1);
    transition: all 0.35s ease;
}



.side-nav .nav-button-active {
    position: absolute;
    transform: translateX(-20%);
    filter: contrast(0) brightness(2);
    transition: all 0.35s ease;
}


.side-nav .home-nav {
    position: absolute;

    transform: translateX(5%);
    filter: contrast(0) brightness(0.1);
    transition: all 0.35s ease;
}



.side-nav .home-nav-active {
    position: absolute;
    transform: translateX(7%);
    filter: contrast(0) brightness(2);
    transition: all 0.35s ease;
}

.side-nav .invisible-button {
    position: absolute;
    width: 22rem;
    height: 7rem;
    filter: contrast(0) brightness(2);
    transition: all 0.15s ease;
    z-index: 99;
    opacity: 0;
}

.side-nav .invisible-button:hover ~ .nav-button {
      position: absolute;

    transform:  translateX(15%);
    filter: contrast(0) brightness(0.2);
    transition: all 0.35s ease;
}

.side-nav .invisible-button:active ~ .nav-button {
    transform: translateX(20%);
    filter: contrast(0) brightness(1);
     transition: all 0.35s ease;
}


.side-nav .invisible-button:hover ~ .home-nav {
      position: absolute;

    transform:  translateX(35%);
    filter: contrast(0) brightness(0.2);
    transition: all 0.35s ease;
}

.side-nav .invisible-button:active ~ .home-nav {
    transform: translateX(20%);
    filter: contrast(0) brightness(1);
     transition: all 0.35s ease;
}



.side-nav .nav-text{
    
    position: absolute;
    color : white;
    left: 100%;
    margin-left: 2rem;
    font-size: 1.6rem;
    transition: all 0.35s ease;


}

.side-nav .invisible-button:hover ~ .nav-text {
    position: absolute;
    
    position: absolute;
    color : white;
    left: 100%;
    margin-left: 3rem;
    font-size: 1.6rem;
    transition: all 0.35s ease;
}


.side-nav .nav-text-active{
    
    position: absolute;
    color : rgb(0, 0, 0);
    left: 100%;
    margin-left: 3rem;
    font-size: 1.6rem;
    transition: all 0.35s ease;


}
