
/* I fixed the issues with the nav bar being off center*/
/* From now on use rem units for everything in this file that is proportion heavy */
.top-nav {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(4rem);
    margin-top: 0;
    padding-top: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
}


.top-nav .nav-button-container {
    position: relative;
    padding-top: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.top-nav .nav-button-container .nav-text {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    top: 0;
    padding-top: 3rem;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px #1d1a1a;
    color: rgb(192, 192, 192);
    transition: all 0.25s ease;
}

.top-nav .nav-underline {
    position: absolute;
    width: 12rem;
    height: auto;
    --underline-translateX: 100px;
    transform: translate(-50%, 120%);
    filter: contrast(0) brightness(0);
    transition: all 0.25s ease;
}

.top-nav .nav-button {
    position: absolute;
    width: 5rem;
    height: auto;
    transform: translate(-48.6%, -50%);
    transition: all 0.35s ease;
}

.top-nav .invisible-button:hover ~ .nav-underline {
    width: 10rem;
    transform: translate(-50%, 120%) translateY(10px);
    filter: contrast(0) brightness(0.3);
}

.top-nav .invisible-button:hover ~ .nav-text {
    transform: translate(-50%, -5%);
    font-size: 1.3rem;
    color: white;
}

.top-nav .invisible-button:hover ~ .nav-button {
    width: 4rem;
    filter: brightness(0.3);
}

.top-nav .invisible-button:active ~ .nav-underline {
    width: 9rem;
    transform: translate(-50%, 120%) translateY(10px);
    filter: contrast(0) brightness(2);
}

.top-nav .invisible-button:active ~ .nav-text {
    transform: translate(-50%, -5%);
    font-size: 1.1rem;
    color: white;
}

.top-nav .invisible-button:active ~ .nav-button {
    width: 3.5rem;
    filter: brightness(2);
}

.top-nav .invisible-button {
    position: absolute;
    width: 5rem;
    height: auto;
    filter: contrast(0) brightness(2);
    transform: translate(-48.6%, -50%);
    transition: all 0.15s ease;
    z-index: 99;
    opacity: 0;
}

.top-nav .nav-underline-active {
    position: absolute;
    width: 17rem;
    height: auto;
    --underline-translateX: 100px;
    transform: translate(-50%, 140%);
    filter: contrast(0) brightness(2);
    transition: all 0.15s ease;
}

.top-nav .nav-text-active {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    top: 0;
    padding-top: 3rem;
    font-weight: 600;
    color: rgb(192, 192, 192);
    transform: translate(-50%, 10%);
    font-size: 1.5rem;
    color: white;
    text-shadow: 3px 3px #1d1a1a;
    transition: all 0.15s ease;
}

.top-nav .nav-button-active {
    position: absolute;
    width: 6.6rem;
    height: auto;
    transform: translate(-48.6%, -50%);
    transition: all 0.15s ease;
}